{% extends 'base.html.twig' %}

{% block title "Modifier un service" %}

{% block body %}
    <h1 class="m-5">Modifier un service</h1>

    <div class="form container">
        {{ form(form) }}
    </div>
{% endblock %}
